{
  "service": {
    "name": "{{ servicename }}",
    "port": {{ serviceport }},
    "tags": ["{{ target_env }}", "{{ servicename }}"],
    "checks": [
      {
         "id": "{{ servicename }}",
         "name": "{{ servicename }}",
         "http": "http://localhost:8080/actuator/health",
         "interval": "10s"
      }
    ]
  }
}
