server {
    listen 80;
    server_name {{ datacenter_role}}.{{ servicename }}.{{ domain }};

    location / {
        proxy_pass  http://{{ servicename }}.service.consul:{{ serviceport }};
        proxy_set_header X-Forwarded-Host $host;
        proxy_set_header X-Forwarded-Server $host;
        proxy_set_header X-Forwarded-For $proxy_add_x_forwarded_for;
    }
}
